@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html * {
    /* border: 1px solid cyan; */
  }

  .animate-row-price-up {
    animation-name: row-price-up;
    animation-duration: 500ms;
  }

  .animate-row-price-down {
    animation-name: row-price-down;
    animation-duration: 500ms;
  }

  .animate-text-price-up {
    animation-name: text-price-up;
    animation-duration: 500ms;
  }

  .animate-text-price-down {
    animation-name: text-price-down;
    animation-duration: 500ms;
  }
}

@keyframes row-price-up {
  0% {
    @apply bg-transparent;
  }
  25% {
    @apply bg-green-100;
  }
  100% {
    @apply bg-transparent;
  }
}

@keyframes row-price-down {
  0% {
    @apply bg-transparent;
  }
  25% {
    @apply bg-red-100;
  }
  100% {
    @apply bg-transparent;
  }
}

@keyframes text-price-up {
  0% {
    @apply text-current;
  }
  25% {
    @apply text-green-500;
  }
  100% {
    @apply text-current;
  }
}

@keyframes text-price-down {
  0% {
    @apply text-current;
  }
  25% {
    @apply text-red-400;
  }
  100% {
    @apply text-current;
  }
}
